@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarpanch', sans-serif;
}

body {
    list-style: none;
    text-decoration: none;
    font-family: "Sarpanch", sans-serif;

}

header .navbar {
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.sticky-nav {
    background-color: black !important;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-link {
    font-size: 20px;
    letter-spacing: 4px;
    overflow: hidden;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
    color: gold;
}

.header-main {
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-color: #2CB67C;
}

.central-img {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 50%;
}

.text-center {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
}

.lead {
    font-weight: 600;
}

.text-muted {
    font-weight: 600;
}

.contenido {
    padding-bottom: 4rem;
    padding-top: 5rem;
}

.pv-1 {
    background-color: green;
    padding: 10rem;
}

.bg-green {
    color: green;
    background-color: green;
}

.img-fluid {
    border-radius: 50%;
}

.img-fluid-1 {
    width: 100%;
}

.rounded {
    border-radius: 50%;
}

.angled-image {
    transform: rotate(-12deg);
    overflow: hidden;
}

.right-angle {
    transform: rotate(12deg);
}

.img-aweson-g {
    margin: 1rem;
    width: 100%;
    height: auto;
    display: block;
}

.gallery-container {
    padding: 10px;
    margin: 4px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(17.25rem, 100%), 1fr));
    grid-gap: 1rem;
    padding: 12px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    width: 220px;
    height: 300px;
    display: block;
}

.ubicacion-conteiner {
    background-color: green;
    max-width: 100%;
    position: relative;
    width: auto;
    text-align: center;
    padding: 50px 0;
}

.card-ubi-text {
    display: block;
}

.align-title {
    color: white;
    font-weight: 700;

}


.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    gap: 20px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.image-section {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 12px;
}

.background-rotated {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8B0000; /* Rojo vino */
    transform: rotate(-20deg);
    z-index: 0;
}
.background-rotated-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8B0000; /* Rojo vino */
    transform: rotate(140deg);
    z-index: 0;
}

.image-section img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
}

.text-section {
    flex: 0 0 65%;
    max-width: 65%;
    padding: 40px;
}

.text-section div {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .image-section, .text-section {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .text-section {
        padding: 10px 20px;
    }
}


.text-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.text-section p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}
footer h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}